body{
    text-align: center;
    background-image: url(../image/shop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: blanchedalmond;
}
a{
    color: aquamarine;
}
h2{
    color: blanchedalmond;
}
p{
    color: azure;
}
p#div{
    color: azure;
    width: 20%;
    text-align: left;
}
p#reg{
    color: azure;
    width: 35%;
    text-align: left;
}
label{
    color: blanchedalmond;
}
table{
    color: azure;
}
th{
    color: azure;
}
td{
    color: azure;
    text-align: left;
}
div#flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    flex: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
div#regflex{
    display: flex;
    flex-direction:column;
    flex: 1;
    flex-shrink: 1;
    flex-basis: 0;
}